body {
    overflow-x: hidden;
}

.sequence {
    font-family: monospace;
    font-size: 1.5em;
    white-space: pre;
}

mark {
    background-color: #67C8FF;
}

div#sequence {
    margin-left: 2.5vw;
    float: left;
    max-width: 70vw;
}

div#history {
    float: left;
    max-width: 20vw;
    overflow-y: scroll;
    max-height: 80vh;
    border: 1px grey solid;
}

div#history-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sequence.reverse > mark {
    background-color: #C7EA46;
}

div#sequence-div {
    margin-left: 2.5vw;
    display: inline-block;
}

mark {
    padding: 0;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: calc(1.2em + 40px);
    margin-top: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
    /*height: 60px; !* Height of the footer *!*/
    width: 100vw;
    background-color: #28a745;
    color: #FFF;
    max-width: none !important;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    color: #D2F898;
}

.footer a:hover {
    color: #1e7e34;
    cursor: pointer;
}

